.container {
	font-family: 'Century Gothic';
    width: 100vw;
    height: 100vh;
    background: rgba(61, 129, 223, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.box {
    width: 450px;
    height: 550px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    text-align: center;
}

body {
    margin: 0px;
}

.container .box input, button {
	font-family: 'Century Gothic';
	height: 40px;
	border-radius: 5px;
	border: solid 0.5px #000000;
	margin-bottom: 10px;
	font-size: 18px;
}

.container .box #nmUser, #emUser, #rua, #bairro {
	width: 80%;
}

.container .box #passUser, #cep {
	width: 40%;	
}

#nrUser, #uf {
	width: 20%;
 }

 #compUser, #cidade {
 	width: 60%;
 }

button {
	/*background-color: rgba(61, 129, 223, 0.2);*/
	background-color: #000000;
	color: #ffffff;
	width: 120px;
}