* {
    margin: 0;
    padding: 0;
}

body,
button {
    font-family: "Century Gothic";
    /* background-color: rgba(61, 129, 223, 0.2); */
}

#btn_novo {
    float: right;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

#h1_cad {
    float: left;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 17px;
}

#div_table {
    width: 1320px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

button {
    height: 40px;
}

a button {
    text-decoration: none;
}

#btn_cad {
    margin-bottom: 20px;
    background-color: rgba(61, 129, 223, 0.2);
    width: 200px;
}

#rua {
    width: 170px;
}

.btn {
    border-radius: 5px;
    border: solid 0.1px #b1b0b0;
}

.btn-acao1 {
    background-color: red;
    color: #ffffff;
    width: 60px;
}

.btn-acao2 {
    background-color: yellow;
    color: #000000;
    width: 60px;
}

#tbCabecalho {
    text-align: center;
    border-bottom: 0.5px solid #b1b0b0;
    border-top: 0.5px solid #b1b0b0;
    font-weight: bold;
    /* background-color: #174c97; */
    /* color: #ffffff; */
}

table {
    border-collapse: collapse;
    border: 0.5px solid #b1b0b0;
    width: 1300px;
}

table,
button {
    font-size: 14px;
}

tr:hover {
    background-color: #3d80df;
    color: #fff;
}

tr:hover {
    background-color: transparent;
    color: inherit;
}

tr:nth-child(even) {
    background-color: #edf5ff;
}

th {
    font-weight: normal;
    text-align: left;
}

th,
td {
    padding: 5px;
    border: dotted 0.5px #b1b0b0;
}


/* LARGURA DAS COLUNAS */

#td12 {
    width: 140px;
}

#td1,
#td7,
#td11 {
    width: 30px;
}

#td2,
#td3,
#td6 {
    width: 170px;
}

#td4,
#td5,
#td8 {
    width: 60px;
}

#td10 {
    width: 90px;
}

#td9 {
    width: 100px;
}